@font-face {
	font-family: 'Galaxie Copernicus Book';
	src: url('../fonts/GalaxieCopernicus-Book.otf');

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	   -moz-font-smoothing: antialiased;
			-ms-font-smoothing: antialiased;
			 -o-font-smoothing: antialiased;
}

@font-face {
	font-family: 'Galaxie Copernicus Medium';
	src: url('../fonts/GalaxieCopernicus-Medium.otf');

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	   -moz-font-smoothing: antialiased;
			-ms-font-smoothing: antialiased;
			 -o-font-smoothing: antialiased;
}
