@font-face {
	font-family: 'CormorantGaramond-Regular';
	src: url('../fonts/CormorantGaramond-Regular.otf');

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	   -moz-font-smoothing: antialiased;
			-ms-font-smoothing: antialiased;
			 -o-font-smoothing: antialiased;
}

@font-face {
	font-family: 'CormorantGaramond-Italic';
	src: url('../fonts/CormorantGaramond-Italic.otf');

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	   -moz-font-smoothing: antialiased;
			-ms-font-smoothing: antialiased;
			 -o-font-smoothing: antialiased;
}

@font-face {
	font-family: 'CormorantGaramond-Medium';
	src: url('../fonts/CormorantGaramond-Medium.otf');

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	   -moz-font-smoothing: antialiased;
			-ms-font-smoothing: antialiased;
			 -o-font-smoothing: antialiased;
}

@font-face {
	font-family: 'CormorantGaramond-SemiBold';
	src: url('../fonts/CormorantGaramond-SemiBold.otf');

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	   -moz-font-smoothing: antialiased;
			-ms-font-smoothing: antialiased;
			 -o-font-smoothing: antialiased;
}
