.grid-1 {
	display: grid;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	grid-template-columns: 2fr 8fr 2fr;
	grid-gap: 10px;
}

.grid-2 {
	display: grid;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	grid-template-columns: 2fr 4fr 5fr 1fr;
	grid-gap: 10px;
}

.grid-3 {
	display: grid;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	grid-template-columns: 1fr 10fr 1fr;
	grid-gap: 10px;
}

.grid-4 {
	display: grid;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	grid-template-columns: 2fr 8fr 2fr;
	grid-gap: 10px;
}

.grid-5 {
	display: grid;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	grid-template-columns: 2.5fr 7fr 2.5fr;
	grid-gap: 10px;
}

.grid-6 {
	display: grid;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	grid-template-columns: 10fr 2fr;
	grid-gap: 10px;
}

.grid-7 {
	display: grid;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	grid-template-columns: 4fr 4fr 4fr;
	grid-gap: 10px;
}

.grid-8 {
	display: grid;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	grid-template-columns: 2.5fr 7fr 2.5fr;
	grid-gap: 10px;
}

.grid-9 {
	display: grid;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	grid-template-columns: 4fr 4fr 4fr;
	grid-gap: 10px;
}
