/*//////////////////// ///////////////////////
	HOME PAGE
//////////////////// ///////////////////////*/
.grid-0, .grid-1, .grid-2, .grid-3,
.grid-4, .grid-5, .grid-6 {
	display: grid;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	grid-gap: 10px;

	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}
