.grid-1 {
	-webkit-column-count: 3;
		 -moz-column-count: 3;
		 			column-count: 3;

	-webkit-column-gap: 20px;
		 -moz-column-gap: 20px;
		 			column-gap: 20px;

	-webkit-column-fill: balance;
		 -moz-column-fill: balance;
		 			column-fill: balance;
}

.item {
	display: inline-block;
	width: 100%;
	background: transparent;
	margin-bottom: 20px;

	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.grid-0 {
	display: grid;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	grid-gap: 20px;

	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}

.grid-0, .grid-2, .grid-3, .grid-4, .grid-5 {
	display: grid;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	grid-gap: 10px;

	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}
