@media all and (min-width: 320px) {
	/*//////////////////////////////////////////////////////
	  HOME
	//////////////////////////////////////////////////////*/
	.grid-1 {
		grid-template-columns: .25fr 11.5fr .25fr;
		padding-top: 1.5em;
		grid-gap: 1em;
	}

	h1, h2, p, a {
		font-size: 1em;
		letter-spacing: .3px;
	}

	#introWrapper, #aboutWrapper {
		margin-top: 9em;
		margin-bottom: 6em;
	}

	.intro .header {
		letter-spacing: .3px;
		padding-bottom: 1em;
	}

	.intro .copy {
		padding-bottom: 1.5em;
	}

	.content p, .link-wrapper p { font-size: .8em; }

	.project-thumbnail {
		width: 4em;
		height: 4em;
		border: 1px solid #F2F2F5;
		border-radius: 15px;
		box-shadow: 0px 3px 7px rgba(22, 22, 26, 0.1);

		background-position: center;
		background-repeat: no-repeat;

		margin-bottom: 1em;
	}


	#footer {
		margin-top: 5em;
		padding-bottom: 1em;
	}

	/*//////////////////////////////////////////////////////
	  P D P
	//////////////////////////////////////////////////////*/
	.grid-2 { grid-template-columns: 1.25fr 9.5fr 1.25fr; }
	.grid-3 { grid-template-columns: 1fr; }

	.back-button { margin-top: .15em; }
	.next-button { display: none; }

	#project-content { margin-top: 3em; }

		#project-content p { font-size: 1em; line-height: 1.7em; }

		h3 {
			font-size: 1.2em;
			color: #16161A;
			line-height: 2.4em;
			padding-top: 50px;
		}

		li a, .credits h1, .credits p {
			font-size: .9em;
			letter-spacing: .2px;
			line-height: 2em;
		}

	.side-nav, .footer-links h1 {	display: none; }
	.project-name { margin-bottom: 1em; }
	.project-name, .project-thumbnail { display: block; }
	.project-name h1 { line-height: 1.75em; }
	.project-image { margin-top: 3em; }

	.credits-wrapper {
		margin-top: 6em;
	}

	#projectFooter {
			margin-top: 6em;
			padding-top: 3em;
			padding-bottom: 1em;
		}

		#projectFooter li, .footer-links h1 {
			line-height: 2em;
		}

		.footer-links a h1, .footer-links li a, .footer-links p {
			font-size: .9em;
		}

		.link-wrapper ul {
			margin-right: 6em;
		}
		.quote { margin-top: 12em; }
}

@media all and (min-width: 375px) {
	h1, h2, p, a { font-size: 11pt; }
}

@media all and (min-width: 414px) {
	#introWrapper, #aboutWrapper {
		margin-top: 12em;
	}

	.catalog-header {	margin-bottom: 1em; }
}

@media all and (min-width: 500px) {
	/*//////////////////////////////////////////////////////
	  HOME
	//////////////////////////////////////////////////////*/
	.intro { padding-left: 1.25em; }
	.intro .copy {
		line-height: 1.5em;
	}
	.content {
		margin-top: 6em;
		padding-left: 1.25em;
		padding-bottom: 1em;
	}
	.catalog-header {	margin-bottom: 0; }

	/*//////////////////////////////////////////////////////
	  P D P
	//////////////////////////////////////////////////////*/
	.grid-2 { grid-template-columns: 1.5fr 9fr 1.5fr; }
	#navBar .grid-3 { grid-template-columns: 5fr 7fr; }

	.back-button { margin-left: .5em; }

	.next-button { display: block; }

	#project-content { margin-top: 6em; }

		h3 {
			font-size: 24px;
		}

		#project-content p, #project-content p a {
			font-size: 1em;
			line-height: 1.7em;
		}

		li a, .credits h1, .credits p, #project-content .credits p {
			font-size: .8em;
			letter-spacing: .2px;
			line-height: 2em;
		}

	.project-wrapper {
	    padding: 1.25em;
			border-radius: 18px;
	  }

		.project-name { margin-bottom: 0; }

		.project-name, .project-thumbnail {
	    display: inline-block;
	    vertical-align: middle;
	  }

		.project-thumbnail {
			width: 5em;
			height: 5em;
			border-radius: 18px;

			margin-right: 1.5em;
			margin-bottom: 0;
		}

		.project-image  { margin-top: 2.5em; }
		.credits { margin-top: 5em; }

	#projectFooter {
			margin-top: 10em;
			padding-top: 3em;
			padding-bottom: 1em;
		}

		#projectFooter li, .footer-links h1 {
			line-height: 2em;
		}

		.footer-links a h1, .footer-links li a, .footer-links p {
			font-size: .9em;
		}

		.link-wrapper ul {
		  margin-right: 6em;
		}

		.content p, .link-wrapper p { font-size: .9em; }
		.quote { margin-top: 12em; }
}

@media all and (min-width: 768px) {
	.grid-1 {
		grid-template-columns: 2.5fr 7fr 2.5fr;
		padding-top: .5em;
	}
	.grid-2 { grid-template-columns: 1.5fr 9fr 1.5fr; }
	.grid-3 { grid-template-columns: 1fr; }
	#navBar .grid-3 { grid-template-columns: 3fr 9fr; }

	#introWrapper { margin-top: 15em; }
	#aboutWrapper { margin-top: 12em; }
	.catalog-header { margin-bottom: 1em; }
}

@media all and (min-width: 1024px) {
	.grid-2 { grid-template-columns: 1.5fr 9fr 1.5fr; }
	.grid-3 { grid-template-columns: 3fr 9fr; }

	.side-nav, .footer-links h1 { display: block; }
}

@media all and (min-width: 1280px) {
	.grid-1 { grid-template-columns: 3.5fr 5fr 3.5fr; }
	.grid-2 { grid-template-columns: 2fr 8fr 2fr; }
	.grid-3 { grid-template-columns: 3fr 9fr; }
}

@media all and (min-width: 1440px) {
}

@media all and (min-width: 1680px) {

}
