@media all and (min-width: 320px) {
	.grid-2, .grid-3, .grid-4, .grid-5 {
			max-width: 320px;
			margin-left: 0;
			margin-right: 0;
		}

		.grid-1 {
	    -webkit-column-count: 1;
				 -moz-column-count: 1;
	    				column-count: 1;
    }

		.grid-2 { grid-template-columns: 3fr 6fr 3fr; }
		.grid-3, .grid-4 { grid-template-columns: .5fr 11fr .5fr; }

	#colorIndex {
	    width: 100%;
	    height: 1em;
	  }

	  .bar {
	    width: 12.5%;
	    height: 100%;
	  }

	#container {
			max-width: 100%;
			margin-top: 10%;
			padding: 0 1em 0 1em;
		}

		#work { margin-top: 7em; }
		#annex { margin-top: 1em; margin-bottom: 10em; }

		p, a {
			font-size: .9em;
			letter-spacing: 0px;
			line-height: 1.4em;
		}

		#hello { margin: 18em 0 0 -.5em; }

		#hello p {
			font-size: 8.5em;
			letter-spacing: -10px;
			line-height: .5em;
	  }

		li { line-height: 1.5em; }

		h1 {
			font-size: 1.1em;
			letter-spacing: -.2px;
			line-height: .8em;
		}

		h2 {
			font-size: 8px;
			letter-spacing: .25em;
		}

		.project-name {
			bottom: 1.2em;
	    left: 1em;
		}

		.annex-bar {
			height: 2px;
			margin-top: 7em;
		}

	/*//////////////////// ///////////////////////
	  PROJECT PAGE
	//////////////////// ///////////////////////*/
	#navBar {
			bottom: 0;
			height: 3.5em;
		}

		.arrow { width: 1em; left: 1.5em; }

		#project-banner { height: 17em; }

	.project-name h3 {
			font-size: .8em;
			letter-spacing: .2em;
		}

		h3 {
			font-size: 8px;
			letter-spacing: .2em;
		}

		h3 a { letter-spacing: .2em; }

		h4 {
			font-size: 1.7em;
			letter-spacing: -.8px;
			line-height: 2em;
		}

		.project-description {
			margin-top: 3em;
			margin-bottom: 2em;
		}

		.body-copy, .project-quote p {
			font-size: .95em;
			letter-spacing: 0px;
			line-height: 1.6em;
		}

	#footer {
			margin-top: 7em;
			margin-bottom: 7em;
		}

		.footer-wrapper {
			margin-bottom: 5em;
		}

		.site-link {
			font-size: 1.4em;
			letter-spacing: -.5px;
		}

		.footer-header {
			font-size: .9em;
			letter-spacing: .1px;
			line-height: 2em;
		}

		.info { margin-bottom: 1.5em; }

		hr {
			margin-top: 0;
			margin-bottom: 1em;
		}

		li p {
			font-size: .9em;
			line-height: 1.7em;
		}

		.website p, .more-projects h4, .project-link { margin-bottom: 1em;}
		.scapegoat { display: none; }

}

@media all and (min-width: 375px) {
	.grid-2, .grid-3, .grid-4, .grid-5 {
			max-width: 375px;
		}

		#container { margin-top: 7%; }

		#hello { margin-top: 23em; }
		#hello p {
			font-size: 9.5em;
			letter-spacing: -12px;
	  }

	/*//////////////////// ///////////////////////
	  PROJECT PAGE
	//////////////////// ///////////////////////*/
		.project-name h3 { font-size: .8em; }
		#project-banner { height: 20em; }

		h3 {
			font-size: 9px;
			letter-spacing: .25em;
		}

		h4 {
			font-size: 1.9em;
			letter-spacing: -.7px;
		}

		.body-copy, .project-quote p {
			font-size: 1.05em;
		}
}

@media all and (min-width: 400px) {
	.grid-2, .grid-3, .grid-4, .grid-5 {
			max-width: 400px;
		}

		#hello p {
			font-size: 11em;
			letter-spacing: -15px;
	  }

	/*//////////////////// ///////////////////////
	  PROJECT PAGE
	//////////////////// ///////////////////////*/
	#project-banner {
			height: 17em;
		}

		.body-copy, .project-quote p {
			font-size: 1.1em;
			line-height: 1.7em;
		}

	#footer {
			margin-bottom: 2em;
		}

		.footer-header {
			font-size: 1em;
		}

		li p {
			font-size: 1em;
		}

		.more-projects { margin-bottom: 7em; }

		.site-link { line-height: 1.7em;}
}

@media all and (min-width: 480px) {
	.grid-2, .grid-3, .grid-4, .grid-5 {
			max-width: 480px;
		}

		.grid-1 {
			-webkit-column-count: 2;
				 -moz-column-count: 2;
							column-count: 2;
    }

		#colorIndex { height: .7em; }

		#hello p {
			font-size: 13em;
			letter-spacing: -20px;
	  }

		h1 {
			font-size: 1.25em;
			letter-spacing: -.25px;
			line-height: .9em;
		}

		h2 {
			font-size: 9px;
			letter-spacing: .25em;
		}

	/*//////////////////// ///////////////////////
	  PROJECT PAGE
	//////////////////// ///////////////////////*/
	#navBar {
			top: 0;
		}

		.arrow {
			width: .9em;
			left: 2em;
		}

		.arrow:hover { cursor: url(../img/pointer.png) 7 7, pointer;}

		.project-name h3 {
			font-size: .7em;
			letter-spacing: .25em;
		}

		h4 {
			font-size: 2em;
			line-height: 2em;
		}
		.body-copy { font-size: 1em; }
		.site-link { font-size: 1.8em; }
		.more-projects { margin-bottom: 5em; }
		.more-projects h4 { margin-bottom: 1.5em; }
}

@media all and (min-width: 768px) {
	.grid-2, .grid-3, .grid-4, .grid-5 {
			max-width: 768px;
		}

	#container {
			margin-top: 3%;
			padding: 0 1.5em 0 1.5em;
		}

		#hello { margin: 30em 0 0 -1.4em; }

		#hello p {
			font-size: 17em;
			letter-spacing: -25px;
			line-height: .25em;
	  }

		h1 {
			font-size: 1.5em;
			letter-spacing: -.3px;
			line-height: 1em;
		}

		.project-name {
			bottom: 1.4em;
	    left: 1.2em;
		}

	.arrow { width: .95em; }

}

@media all and (min-width: 960px) {
	.grid-2, .grid-3, .grid-4, .grid-5 {
			max-width: 960px;
		}

		.grid-1 {
			-webkit-column-count: 3;
				 -moz-column-count: 3;
							column-count: 3;
    }

		.grid-3 { grid-template-columns: .5fr 10fr 1.5fr; }
		.grid-4 { grid-template-columns: .5fr 11fr .5fr; }
		.grid-5 { grid-template-columns: 4fr 4fr 4fr; grid-gap: 40px; }

	#colorIndex { height: .8em; }

	#container {
			margin-top: 2%;
			padding: 0 1em 0 1em;
		}

		#hello { margin: 30em 0 0 -1.5em; }

		#hello p {
			font-size: 20em;
			letter-spacing: -30px;
			line-height: .5em;
		}

	#project-banner { height: 20em; }
	.footer-header, li p { font-size: .9em; letter-spacing: 0px; }
	.scapegoat { display: block; visibility: hidden; }
}

@media all and (min-width: 1024px) {
	.grid-2, .grid-3, .grid-4, .grid-5 {
			max-width: 1024px;
		}

		.grid-3 { grid-template-columns: .5fr 9fr 2.5fr; }

	.project-description {
			margin-top: 5em;
			margin-bottom: 3em;
		}

		.body-copy {
			font-size: 1.05em;
		}

	#footer { margin-bottom: 10em; }
		.site-link { font-size: 2.2em; letter-spacing: -1.5px; }

}

@media all and (min-width: 1280px) {
	.grid-2, .grid-3, .grid-4, .grid-5 {
			max-width: 1280px;
		}

		.grid-5 { grid-template-columns: 3.5fr 3.5fr 5fr; }


		#hello { margin: 34em 0 0 -1.7em; }

		#hello p {
			font-size: 25em;
			letter-spacing: -30px;
			line-height: 0;
		}

		#work { margin-top: 12em; }

		.arrow { left: 2.5em; }
}

@media all and (min-width: 1366px) {
	.grid-2, .grid-3, .grid-4, .grid-5 {
			max-width: 1366px;
		}

		.grid-3 { grid-template-columns: .5fr 6.5fr 5fr; }
}

@media all and (min-width: 1440px) {
	.grid-2, .grid-3, .grid-4, .grid-5 {
			max-width: 1440px;
		}

	#container { margin-top: 1em; }
	#work { margin-top: 15em; }

	#project-banner { height: 22em; }
}

@media all and (min-width: 1680px) {
	.grid-2, .grid-3, .grid-4, .grid-5 {
			max-width: 1680px;
		}
}

@media all and (min-width: 1920px) {
	.grid-2, .grid-3, .grid-4, .grid-5 {
		max-width: 1920px;
	}
}

@media all and (min-width: 2560px) {
	.grid-2, .grid-3, .grid-4, .grid-5 {
		max-width: 2560px;
	}
}
