.back-to-top {
  position: fixed;
  right: 2em;
  bottom: 0;
  height: 25px;
  width: 35px;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: .5px;
  color: #3E3F3F;
  opacity: 0.25;
  z-index: 10;
  vertical-align: middle;
  visibility: hidden;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: 3px solid #3E3F3F;
}

.back-to-top:hover, .back-to-top:focus {
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
}

.back-to-top:focus {
  outline: thin dotted;
}

.back-to-top::before,
.back-to-top::after {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-top: 0;
}

.back-to-top::before {
  bottom: -20px;
  z-index: 10;
}

.back-to-top::after {
  bottom: 0;
  z-index: 10;
}

.back-to-top:hover,
.back-to-top:focus {
  height: 25px;
  background: #3E3F3F;
  color: #E4E4E8;
  cursor: pointer;
}

.show-back-to-top {
  display: block;
  bottom: 3%;
  visibility: visible;
}

/* Basic styles below this line. */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}