body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #16161A;
	opacity: 1;
}

::-webkit-scrollbar-thumb:hover {
	background: #FFB700;
}

::selection {
	background-color: #FFB700; /* WebKit/Blink Browsers */
}

::-moz-selection {
	background: #FFB700; /* Gecko Browsers */
}

body {
	background-color: #F5F5F7;
	overflow-x: hidden;
}

.container {
	animation: fadeIn 5s;

	-webkit-transition: .4s ease;
	-moz-transition: .4s ease;
	-ms-transition: .4s ease;
	-o-transition: .4s ease;
	transition: .4s ease;
}

/*//////////////////// ///////////////////////
  TYPE SETTING
//////////////////// ///////////////////////*/
  h1, h2, h3, p, a {
  	color: #16161A;
  }

  h1, h3 {
  	font-family: 'HaasGrotDispR-65Medium';
  }

  h2 , .more-work p{
  	font-family: 'HaasGrotDispR-55Roman';
  }

	p, a {
		font-family: 'HaasGrotDispR-45Light';
	}

  a {
  	cursor: url(../img/pointer.png) 7 7, pointer;

		-webkit-transition: .4s ease;
		-moz-transition: .4s ease;
		-ms-transition: .4s ease;
		-o-transition: .4s ease;
		transition: .4s ease;
  }

/*//////////////////// ///////////////////////
  FADE IN
//////////////////// ///////////////////////*/
  @-webkit-keyframes fadeIn {
  	0% {
  		opacity: 0;
  	}
  	100% {
  		opacity: 1;
  	}
  }
  @-moz-keyframes fadeIn {
  	0% {
  		opacity: 0;
  	}
  	100% {
  		opacity: 1;
  	}
  }

	@-webkit-keyframes fadeInAnchor {
		0% {
			opacity: 0;
		}
		100% {
			opacity: .3;
		}
	}
	@-moz-keyframes fadeInAnchor {
  	0% {
  		opacity: 0;
  	}
  	100% {
  		opacity: .3;
  	}
  }

/*//////////////////// ///////////////////////
  NAVIGATION BAR
//////////////////// ///////////////////////*/
	#navBar {
		position: fixed;
		max-width: 100%;
		height: 3em;
		top: 0;
		background-color: #F5F5F7;
		z-index: 2147483647;
	}

	.nav-button a {
		text-transform: uppercase;
		text-decoration: none;
	}

	.back-button a {
		font-family: 'HaasGrotTextR-76BoldItalic';
		text-decoration: none;
	}

	.back-button a:hover {
		color: #FFB700;
		opacity: 1;
	}

	.nav-phase {
		opacity: .3;
		animation: fadeInAnchor 1s;
	}

	.active, .anchor:hover {
		opacity: 1;
	}

/*//////////////////// ///////////////////////
  PROJECT PAGE - CONTENT
//////////////////// ///////////////////////*/
	.banner-color {
		width: 100%;
		height: 100%;
	}

	.phase-number p, .phase-name p  {
		font-family: 'HaasGrotDispR-65Medium';
	}

	.details-list a {
		text-decoration: underline;
	}

	.details-list a:hover {
		color: #FFB700;
	}

	.project-image {
  	position: relative;
  }

  .copy a {
    text-decoration: underline;
  }

  .copy a:hover {
    color: #FFB700;
  }

  .carousel-container {
  	display: block;
  }

  .carousel__indicators {
  	position: absolute;
  	text-align: center;
  }

  .prototype {
  	box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.2);
  	display: block;
  	margin: auto;
  }

/*//////////////////// ///////////////////////
  PROJECT BOXES
//////////////////// ///////////////////////*/
  .project-container {
    position: relative;
		letter-spacing: 0;
  }

	.project-container a {
		font-size: 0;
		letter-spacing: 0;
  }

  .project-box {
    display: inline-block;
    cursor: url(../img/pointer.png) 7 7, pointer;

    transition: -ms-transform .3s cubic-bezier(0.455, 0.030, 0.515, 0.955),
    -webkit-transform .3s cubic-bezier(0.455, 0.030, 0.515, 0.955),
    transform .3s cubic-bezier(0.455, 0.030, 0.515, 0.955),
    box-shadow .3s cubic-bezier(0.455, 0.030, 0.515, 0.955);

    -webkit-transition: -webkit-transform .3s cubic-bezier(0.455, 0.030, 0.515, 0.955),
    transform .3s cubic-bezier(0.455, 0.030, 0.515, 0.955),
    box-shadow .3s cubic-bezier(0.455, 0.030, 0.515, 0.955);

    -webkit-transition: .7s ease;
    -moz-transition: .7s ease;
    -ms-transition: .7s ease;
    -o-transition: .7s ease;
    transition: .7s ease;
  }

  .project-box:hover {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.2);

    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);

    transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
  }

  #project-italia {
    background: #0D0D0E;
  }

  #project-room, #roomerBox {
    background: #02A686;
  }

  #project-npr, #nprplusBox {
    background: #3D68B1;
  }

	#project-kybrd {
		background-image: linear-gradient(0deg,
			#0b89e6 25%, #67cde5 25%,
			#67cde5 50%, #f2a50c 50%,
			#f2a50c 75%, #eb2902 75%,
			#eb2902 100%, #0b89e6 100%);
		background-size: cover;
		background-repeat: no-repeat;
	}

	#kybrdBox {
		background-image: linear-gradient(0deg,
			#0b89e6 20%, #67cde5 20%,
			#67cde5 42%, #f2a50c 42%,
			#f2a50c 64%, #eb2902 64%,
			#eb2902 86%, #0b89e6 86%);
		background-size: cover;
		background-repeat: no-repeat;
  }

  #project-tp, #tpBox {
    background: linear-gradient(135deg,
    #CC0A21 10%,
    #2B65D9 50%,
    #FFF44F 97%);
  }

  .project-label {
    color: #16161A;
  }
