body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,a,blockquote,th,td {
    padding: 0;
    margin: 0;
  }

   html { scroll-behavior: smooth; }
           
  ::-webkit-selection { background-color: #FE001A; color: white; }
     ::-moz-selection { background-color: #FE001A; color: white; }
      ::-ms-selection { background-color: #FE001A; color: white; }
       ::-o-selection { background-color: #FE001A; color: white; }
          ::selection { background-color: #FE001A; color: white; }

body {
  max-height: 100%;
  position: relative;
  z-index: 0;
  background: white;
  overflow: auto;   

  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

#container {
  position: relative;
  max-width: 100%;
  max-height: 100%;

  animation: land .75s;
  animation-timing-function: cubic-bezier(.54,-0.01,.69,.74);  
}  

/*//////////////////////////////////////////////////////
  TYPESETTING
//////////////////////////////////////////////////////*/
h1, h3 {
    color: #16161A;
    font-family: "Messina-Sans-Regular";
    font-weight: normal;
  }

  h2, p, .sideNav li a {
    color: #777A80;
    font-family: "Messina-Sans-Regular";
    font-weight: normal;

    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
  }

  p a { 
    color: #FE001A;
    text-decoration: underline;
  }

  a:hover, p a:hover { 
    text-decoration: underline;
  }

  #projectFooter li a {
    color: #4A4B4D;
    font-family: "Messina-Sans-Light";
  }

  a, svg, path {    
    cursor: default;
    
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
  }

  .nav li a { color: #6E6E73; }
  li a { color: #FE001A; }
  a.projectLink { text-decoration: none; }
  .projectLink:hover { background: #F2F2F7; }


/*//////////////////////////////////////////////////////
  SVG
//////////////////////////////////////////////////////*/
.projectRow, .projectLink {
  position: relative;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.projectThumbnail { 
  background: #FFFFFF; 
  border: 1px solid #F2F2F5;
  box-shadow: 0px 3px 7px rgba(22, 22, 26, 0.16);
}

  .seven {
    background-image: url("../img/seven.svg");
    background-size: 50%;
  }

  .macro {
    background-image: url("../img/macro.svg");
    background-size: 50%;
  }

  .remotion {
    background-image: url("../img/remotion.svg");
    background-size: 60%;
  }

  .tp {
    background-image: url("../img/tp.svg");
    background-size: 60%;
  }

  .archive {
    background-image: url("../img/archive.svg");
    background-size: 50%;
  }

/*//////////////////////////////////////////////////////
  TOP NAV
//////////////////////////////////////////////////////*/
#navBar {
  width: 100%;
  height: 42px;
  background: #FAFBFC;
  border: 1px solid #E3E4E5;
  position: fixed;
  top: 0;
  z-index: 2147483647;  
}

.page-title p, .back-button, .next-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-title p { color: #16161A; }

.back-button svg {
  padding: .5em .5em .5em .5em;
  border-radius: 8px;
}

.back-button svg:hover { background: #EDEDF2; }
.back-button svg:hover > path { fill: #16161A; }

.next-button { text-align: right; }

  .next-wrapper p {
    display:inline-block;
    vertical-align:middle;
    padding-right: .4em;    
  }

  .next-wrapper svg {
    display:inline-block;
    vertical-align:middle;
    padding-bottom: .1em;
  }

  .next-wrapper a:hover > p { color: #16161A; }
  .next-wrapper a:hover > svg path { stroke: #16161A; }

  .next-wrapper a {
    text-decoration: none;
    padding: .5em .75em .5em .75em;
  }

  .next-wrapper a:hover {
    color: #16161A;
    background: #EDEDF2;
    border-radius: 6px;
  }

/*//////////////////////////////////////////////////////
  SIDE NAV
//////////////////////////////////////////////////////*/
.sideNav {
  position: sticky;
  align-self: start;
}
.sideNav li { list-style: none; }
.sideNav li a { text-decoration: none; transition: all .1s ease-in-out; }
.sideNav li a:hover, .sideNav li a.active { color: #16161A; text-decoration: underline; }


/*//////////////////////////////////////////////////////
  PROJECT CONTENT
//////////////////////////////////////////////////////*/
.projectImage img, .projectImage video {
  max-width: 100%;

  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.projectImage.banner {
  margin-top: 0;
}

#projectFooter {
  background: #16161A;
  max-width: 100%;
}

#projectFooter h1, #projectFooter h1 a, #projectFooter li a, #projectFooter p { color: #FAFBFC; }
#projectFooter .quote { color: #797B80; }
#projectFooter li { list-style: none; }
#projectFooter a, #projectFooter li a { text-decoration: none; }
#projectFooter a:hover, #projectFooter li a:hover { color: #FAFBFC; text-decoration: underline; }
#projectFooter .link-wrapper p { color: #797B80; }

.link-wrapper ul {
  display: inline-block;
  vertical-align: top;
}

.context { 
  background: #FFFFFF; 
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
}
/*//////////////////////////////////////////////////////
  IMAGE SLIDER
//////////////////////////////////////////////////////*/
.slide {
  max-width: 100%;  
}

.button-container {
  text-align: center;
  margin-bottom: 2rem;
}

.slide-btn {
  background-color: transparent;
  border-color: transparent;
  font-size: 1.25em;
  color: #16161a;
}

.slide-btn:active {
  opacity: .5;  
}

/*//////////////////////////////////////////////////////
  TRANSITION
//////////////////////////////////////////////////////*/
@keyframes land {
  0% {
    opacity: 0;
    transform: translateY(-.5em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes land {
    0% {
      opacity: 0;
      transform: translateY(-.5em);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
@-moz-keyframes land {
    0% {
      opacity: 0;
      transform: translateY(-.5em);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
@-ms-keyframes land {
    0% {
      opacity: 0;
      transform: translateY(-.5em);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
@-o-keyframes land {
    0% {
      opacity: 0;
      transform: translateY(-.5em);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@-moz-keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@-ms-keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@-o-keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


/*//////////////////////////////////////////////////////
  PASSWORD PROTECTION
//////////////////////////////////////////////////////*/
#contentFrame {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#dialogWrap {    
position: relative;    
}

#mainDialog {
  max-width: 100%;
  margin: auto;  
  position: relative;
  top: 12em;
}    

#pass {
  width: 24em;
  height: 2.5em;
  margin-bottom: 1em;

  font-size: 1.125em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: .5px solid;
}

input:focus { outline: none; }
.notifyText { display: none; }

#submitPass {                                   
  float: right;
  padding: .75em 1.25em;
  background-color: #16161a;
  border: none;
  border-radius: .5em;                
  cursor: pointer;
}

#submitPass h1 { color: white; padding: 0; }       
.error { display: none; }


/*//////////////////////////////////////////////////////
  DARK THEME
//////////////////////////////////////////////////////*/
@media (prefers-color-scheme: dark) {
	body { background: #16161A; }
	h1, h3, .page-title p { color: #FAFBFC; }
  h2, p { color: #939599; }
  p a { color: #FE001A; }

  #projectFooter li a {
    color: #939599;
    font-family: "Messina-Sans-Light";
  }

  .nav li a { color: #939599; }
  li a { color: #FE001A; }
  a.projectLink { text-decoration: none; }
  .projectLink:hover { background: #1F1F24; }

  .projectThumbnail {	
    background: #16161A;
		border: 1px solid #202026;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
	}

  .seven {
    background-image: url("../img/seven_dark.svg");
    background-size: 50%;
  }

  .macro {
    background-image: url("../img/macro_dark.svg");
    background-size: 50%;
  }

  .remotion {
    background-image: url("../img/remotion_dark.svg");
    background-size: 60%;
  }

  .tp {
    background-image: url("../img/tp_dark.svg");
    background-size: 60%;
  }

  .archive {
    background-image: url("../img/archive_dark.svg");
    background-size: 50%;
  }

  #navBar {    
    background: #16161A;
    border: 1px solid #202026;
  }
  
  .back-button svg:hover { background: #1F1F24; }
  .back-button svg:hover > path { fill: #FAFBFC; }
  
  .next-wrapper a:hover > p { color: #FAFBFC; }
  .next-wrapper a:hover > svg path { stroke: #FAFBFC; }

  .next-wrapper a:hover {
    color: #FAFBFC;
    background: #1F1F24;
  }

  .sideNav li a:hover, .sideNav li a.active { color: #FAFBFC; }

  .context { 
    background: #16161A; 
    box-shadow: inset 0px 0px 24px rgba(0, 0, 0, 0.6);
  }

  .slide-btn { color: #FAFBFC; }
  #projectFooter { background: #000000; }

  #submitPass { background-color: #FAFBFC; }
  #submitPass h1 { color: #16161A; padding: 0; }      
}