body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,a,blockquote,th,td {
    padding: 0;
    margin: 0;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }

   html { 
    scroll-behavior: smooth;
    height: 100%; 
  }
           
  ::-webkit-selection { background-color: #FE001A; color: white; }
     ::-moz-selection { background-color: #FE001A; color: white; }
      ::-ms-selection { background-color: #FE001A; color: white; }
       ::-o-selection { background-color: #FE001A; color: white; }
          ::selection { background-color: #FE001A; color: white; }

body {  
  position: relative;
  background: white;
  overflow: hidden;  
  z-index: 0;  
  height: 100%; 

  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

#container {
  position: relative;
  height: 100vh;
  animation: land .8s;
  animation-timing-function: cubic-bezier(.54,-0.01,.69,.74);  
}  

/*//////////////////////////////////////////////////////
  TYPESETTING
//////////////////////////////////////////////////////*/
h1, p, a, p a {
    color: #16161A;
    font-weight: normal;
    cursor: default;

    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
  }

  h1 { font-family: "Galaxie Copernicus Medium"; }
  p { font-family: "Galaxie Copernicus Book"; }
  a, p a { color: #16161a; text-decoration: none; }
  a:hover, p a:hover { color: #FE001A; text-decoration: underline; }
  a:focus, p a:focus { color: #FE001A; text-decoration: none; }
  a.active { text-decoration: underline; }

/*//////////////////////////////////////////////////////
  SLIDESHOW
//////////////////////////////////////////////////////*/
#slideWrapper {
  display: block;
  overflow: hidden; 
}

.slideshow { 
  display: flex;
}

.imageWrapper {
  position: relative;
  min-width: 100%;
}

.galleryImg {
  position: relative;  
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;  
}

#remotion {   background-image: url('../img/gallery/remotion.png'); }
#macro {      background-image: url('../img/gallery/macro.png'); }
#launchpad {  background-image: url('../img/gallery/launchpad.png'); }
#otter {      background-image: url('../img/gallery/otter.png'); }
#italia {     background-image: url('../img/gallery/italia.png'); }
#touchpoint { background-image: url('../img/gallery/touchpoint.png'); }
#bch {        background-image: url('../img/gallery/bch.png'); }
#jostaberry { background-image: url('../img/gallery/jostaberry.png'); }
#macroLogo {  background-image: url('../img/gallery/macro-logo.png'); }
#trustworthy {  background-image: url('../img/gallery/trustworthy.png'); }


/*//////////////////////////////////////////////////////
  TRANSITION
//////////////////////////////////////////////////////*/
@keyframes land {
  0% {
    opacity: 0;
    transform: translateY(-.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes land {
    0% {
      opacity: 0;
      transform: translateY(-.5rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
@-moz-keyframes land {
    0% {
      opacity: 0;
      transform: translateY(-.5rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
@-ms-keyframes land {
    0% {
      opacity: 0;
      transform: translateY(-.5rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
@-o-keyframes land {
    0% {
      opacity: 0;
      transform: translateY(-.5rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@-moz-keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@-ms-keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@-o-keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

