body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,a,blockquote,th,td {
    padding: 0;
    margin: 0;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }

   html { 
    scroll-behavior: smooth;
    height: 100%; 
  }
           
  ::-webkit-selection { background-color: #E51E12; color: white; }
     ::-moz-selection { background-color: #E51E12; color: white; }
      ::-ms-selection { background-color: #E51E12; color: white; }
       ::-o-selection { background-color: #E51E12; color: white; }
          ::selection { background-color: #E51E12; color: white; }

body {  
  position: relative;
  background: white;
  /* overflow: auto;   */
  z-index: 0;  
  height: 100%; 
  font-family: Helvetica, sans-serif;

  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

#container {
  position: relative;
  /* height: 100vh; */
}  

#content {
  animation: land 1s;
  animation-timing-function: cubic-bezier(0.08,0.82,0.17,1);
  /* animation-timing-function: cubic-bezier(0.18,0.89,0.32,1.27); */  
}

/*//////////////////////////////////////////////////////
  TYPESETTING
//////////////////////////////////////////////////////*/
h1, p, a, li {
  font-family: "Rand Regular";
  
  font-weight: normal;
  cursor: default;

  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

h1, p, li, .name a, .navHead { color: #16161A; }
.bodyWrapper p { color: #5E5E5D; }
.intro a, .bodyWrapper p a { color: #E51E12; }
ul, li { list-style: none; }

a, p a { 
  display:inline-block;
  /* color: #16161A; */
  color: #5E5E5D; 

  background: linear-gradient(60deg, currentColor 75%, rgba(255,255,255, 1) 95%, currentColor 95%);
  background-size: 200%;
  background-position: 200% 0%;
  background-clip: text;  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: all 0.2s ease-in-out 0s;
}

.navLink li a, .navHead {
  -webkit-transform: translateX(0rem);
  transform: translateX(0rem);
}

.navLink li a:hover, .navHead:hover {
  -webkit-transform: translateX(.25rem);
  transform: translateX(.25rem);
}

.socialLinks p a {
  -webkit-transform: translateY(0rem);
  transform: translateY(0rem);
}

.socialLinks p a:hover {
  -webkit-transform: translateY(-.2rem);
  transform: translateY(-.2rem);
}

a:hover, p a:hover, .tag p a:hover { 
  animation: text-link-hover .6s ease;
  color: #E51E12;
}

@keyframes text-link-hover{
  100%{
    background: linear-gradient(60deg, #E51E12 75%, rgba(255,255,255, 1) 95%, #E51E12 95%);
    background-size: 200%;
    background-position: 50% 0%;
    background-clip: text;  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* a:focus, p a:focus, .tag p a:focus { 
  color: #E51E12;
} */

.navLink li a.active { 
  color: #E51E12; 
  /* border-bottom: 1px solid #E51E12; */
}

h2 { font-family: "Rand Regular"; font-weight: normal; }

.experience p, .tag p, .tag p a { 
  font-family: "Rand Mono Regular"; 
  font-weight: normal;
  color: #5E5E5D;
}


/*//////////////////////////////////////////////////////
  NAVIGATION
//////////////////////////////////////////////////////*/
#topNav {
  position: relative;
  background-color: #FFFFFF;
  z-index: 1000;
}

.nav {
  background: #FFFFFF;
  position: fixed;
  padding: 1rem;  
}

  .nav ul {
    list-style: none;
  }  

  .nav .smartphone-menu-trigger {
    background: #FAFAFC;
    border: solid 2px #FFFFFF;
  }

  .nav .smartphone-menu-trigger:before,
	  .nav .smartphone-menu-trigger:after {
		content: '';
		background: #16161A;		
	}	 
	  .nav:focus .smartphone-menu-trigger {
		pointer-events: none;
  }
/* 
.navLink li > a, .socialLinks p > a, .listSection > a {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  transition: all 0.3s ease-in-out 0s;
}

.navLink li > a:hover, .socialLinks p > a:hover, .listSection > a:hover {
  color: #E51E12;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
} */


/*//////////////////////////////////////////////////////
  TRANSITION
//////////////////////////////////////////////////////*/
@keyframes land {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes land {
    0% {
      opacity: 0;
      transform: translateX(-1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
@-moz-keyframes land {
    0% {
      opacity: 0;
      transform: translateX(-1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
@-ms-keyframes land {
    0% {
      opacity: 0;
      transform: translateX(-1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
@-o-keyframes land {
    0% {
      opacity: 0;
      transform: translateX(-1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }