body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,a,blockquote,th,td {
    padding: 0;
    margin: 0;
  }

  /* ::-webkit-scrollbar { display: none; }
     ::-moz-scrollbar { display: none; }
      ::-ms-scrollbar { display: none; }
       ::-o-scrollbar { display: none; } */

  ::-webkit-selection { color: #FFB700; }
     ::-moz-selection { color: #FFB700; }
      ::-ms-selection { color: #FFB700; }
       ::-o-selection { color: #FFB700; }
          ::selection { color: #FFB700; }

body {
    background-image: radial-gradient(#292C34, #16161A);
    overflow-x: hidden;
  }

  #project-banner, #project-container {
    animation: entrance 2.5s;
    animation-delay: 1s;

    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
  }

/*//////////////////// ///////////////////////
	TYPESETTING
//////////////////// ///////////////////////*/
h3, h4, h5, h6, p, a {
    color: #FAFAFC;
    font-weight: normal;
    text-decoration: none;

    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
  }

  .project-quote p, .footer-header {
    font-family: "Messina-Sans-Bold";
  }

  h3 {
    font-family: "Favorit-Medium";
    text-transform: uppercase;
    text-decoration: none;
    color: #A4A4A6;
  }

  .project-name h3 {
    color: #FAFAFC;
    text-align: center;
    text-transform: uppercase;
  }

  a { text-decoration: underline; }
  a:hover { color: #FFB700; }
  h3 span { text-transform: lowercase; }
  h4, p, a { font-family: "Messina-Sans-Regular"; }
  .project-quote p { color: #FAFAFC; }
  .back-to-top { text-decoration: none; }

/*//////////////////// ///////////////////////
  PROJECT - NAV BAR
//////////////////// ///////////////////////*/
#navBar {
  	position: fixed;
  	max-width: 100%;
    background-image: radial-gradient(#292C34, #16161A);
  	z-index: 2147483647;

    animation: fadein 3s;

    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
  }

  .arrow, .project-name h3 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
  }

  .arrow:hover g g  {
    stroke: #FFB700;

    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
  }

  .progress-container {
    position: absolute;
    top: 3.5em;
    width: 100%;
    height: 4px;
    background: transparent;
  }

  .progress-bar {
    width: 0%;
    height: 4px;
    background-image: linear-gradient(to right, #2B4CC2, #3F2590, #793396, #D62D7D, #F82D1F, #FF540D);
  }

#project-banner {
  	position: relative;
    top: 0;
    max-width: 100%;
  }

  #project-banner .banner-color { height: 100%; }

  #cokeBanner { background-image: radial-gradient(#FF4058, #E51731); }
  #rgaBanner { background-image: radial-gradient(#FF4D4D, #D10924); }
  #tpBanner { background-image: radial-gradient(circle at 0% 0%, #CC0A21, #2B65D9, #FFF44F); }
  #italiaBanner { background-image: radial-gradient(#333333, #0D0D0D); }
  #instaBanner { background-image: radial-gradient(#76C2EB, #0085E6); }
  #roomerBanner { background-image: radial-gradient(#06A687, #09F2C5); }
  #generalBanner { background-image: radial-gradient(#292C34, #16161A); }
  #googleBanner { background: #FFFFFF; }

/*//////////////////// ///////////////////////
  PROJECT - CONTENT
//////////////////// ///////////////////////*/
.project-image { max-width: 100%; font-size: 0; }

  .project-image img {
    position: relative;
    max-width: 100%;
  }

  .project-image video {
    position: relative;
    max-width: 100%;
  }

hr { border-width: .5px; }

  li {
    list-style: none;
  }

/*//////////////////////////////////////
  PRELOAD ELEMENTS
//////////////////////////////////////*/
#project-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-image: radial-gradient(#292C34, #16161A);
  }

.loading {
    position: absolute;

    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
  }

#loadCoke, #loadtp, #loaditalia, #loadRGA,
#loadIR, #loadRoomer, #loadGeneral, #loadGoogle {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

#loadCoke {
      background-image: -webkit-radial-gradient(#FF4058, #E51731);
      background-image:    -moz-radial-gradient(#FF4058, #E51731);
      background-image:      -o-radial-gradient(#FF4058, #E51731);
      background-image:         radial-gradient(#FF4058, #E51731);
    }
  #loadtp {
      background-image: -webkit-radial-gradient(circle at 0% 0%, #CC0A21, #2B65D9, #FFF44F);
      background-image:    -moz-radial-gradient(circle at 0% 0%, #CC0A21, #2B65D9, #FFF44F);
      background-image:      -o-radial-gradient(circle at 0% 0%, #CC0A21, #2B65D9, #FFF44F);
      background-image:         radial-gradient(circle at 0% 0%, #CC0A21, #2B65D9, #FFF44F);
    }
  #loaditalia {
      background-image: -webkit-radial-gradient(#333333, #0D0D0D);
      background-image:    -moz-radial-gradient(#333333, #0D0D0D);
      background-image:      -o-radial-gradient(#333333, #0D0D0D);
      background-image:         radial-gradient(#333333, #0D0D0D);
    }
  #loadRGA {
      background-image: -webkit-radial-gradient(#FF4D4D, #D10924);
      background-image:    -moz-radial-gradient(#FF4D4D, #D10924);
      background-image:      -o-radial-gradient(#FF4D4D, #D10924);
      background-image:         radial-gradient(#FF4D4D, #D10924);
    }
  #loadIR {
      background-image: -webkit-radial-gradient(#76C2EB, #0085E6);
      background-image:    -moz-radial-gradient(#76C2EB, #0085E6);
      background-image:      -o-radial-gradient(#76C2EB, #0085E6);
      background-image:         radial-gradient(#76C2EB, #0085E6);
    }
  #loadRoomer {
      background-image: -webkit-radial-gradient(#06A687, #09F2C5);
      background-image:    -moz-radial-gradient(#06A687, #09F2C5);
      background-image:      -o-radial-gradient(#06A687, #09F2C5);
      background-image:         radial-gradient(#06A687, #09F2C5);
    }
  #loadGeneral {
      background-image: -webkit-radial-gradient(#292C34, #16161A);
      background-image:    -moz-radial-gradient(#292C34, #16161A);
      background-image:      -o-radial-gradient(#292C34, #16161A);
      background-image:         radial-gradient(#292C34, #16161A);
    }
  #loadGoogle { background: #FFFFFF; }


/*//////////////////////////////////////
  ANIMATION
//////////////////////////////////////*/
@keyframes entrance {
  	0% { transform: translateY(5em); opacity: 0;  }
  	100% { transform: translateY(0); opacity: 1; }
  }
  @-webkit-keyframes entrance {
    0% { -webkit-transform: translateY(5em); opacity: 0;  }
  	100% { -webkit-transform: translateY(0); opacity: 1; }
  }
  @-moz-keyframes entrance {
    0% { -moz-transform: translateY(5em); opacity: 0;  }
  	100% { -moz-transform: translateY(0); opacity: 1; }
  }
  @-ms-keyframes entrance {
    0% { -ms-transform: translateY(5em); opacity: 0;  }
  	100% { -ms-transform: translateY(0); opacity: 1; }
  }
  @-o-keyframes entrance {
    0% { -o-transform: translateY(5em); opacity: 0;  }
  	100% { -o-transform: translateY(0); opacity: 1; }
  }
@keyframes fadein {
  	0% { opacity: 0; }
  	100% { opacity: 1; }
  }
  @-webkit-keyframes fadein {
    0% { opacity: 0; }
  	100% { opacity: 1; }
  }
  @-moz-keyframes fadein {
    0% { opacity: 0; }
  	100% { opacity: 1; }
  }
  @-ms-keyframes fadein {
    0% { opacity: 0; }
  	100% { opacity: 1; }
  }
  @-o-keyframes fadein {
    0% { opacity: 0; }
  	100% { opacity: 1; }
  }

/*//////////////////////////////////////
  PASSWORD PROTECTION
//////////////////////////////////////*/
  #dialogText {
      padding: 20px 25px;
      color: #FAFAFC;
  }

  #dialogWrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: table;
      background-image: radial-gradient(#292C34, #16161A);
  }

  #dialogWrapCell {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
  }

  #mainDialog {
      max-width: 400px;
      margin: 5px;
      /* border: 1px solid #A4A4A6; */
      border-radius: 5px;
      /* box-shadow: 0px 10px 25px 0px rgba(22,22,26,.5); */
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      text-align: left;
  }

  #passArea { padding: 10px 25px; }
  #passArea > * { margin: 5px auto; }
  #passwordPrompt { color: #FAFAFC; }

  #pass {
      width: 100%;
      height: 2em;
      font-size: 1em;
      background: transparent;
      border: 1px solid #FAFAFC;
      border-radius: 3px;
  }

  input { padding-left: 5px; color: #FAFAFC;}

  #pass:focus { outline: none;}
  #bottomContainer { margin-top: 1em; margin-bottom: .5em; }

  #messageWrapper {
      float: left;
      vertical-align: middle;
  }

  .notifyText { display: none; }
  #invalidPass, #success  { color: #FFB700; }

  #submitPass {
      font-size: .8em;
      padding: 5px 12px;
      background: transparent;
      border-radius: 3px;
      border: 1px solid #FAFAFC;
      float: right;
      margin-right: -.55em;
  }

  #submitPass:focus { outline: none; }

  #contentFrame {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
