/*//////////////////// ///////////////////////
  COLOR BAR
//////////////////// ///////////////////////*/
/*.top-strip {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 95%;
  height: 3px;
  background-repeat: no-repeat;
  border-radius: 10px;
  z-index: 2;
  background: linear-gradient(to right,
    #39B195 25%,
    #F17C00 25%,
    #F17C00 50%,
    #F6BCC5 50%,
    #F6BCC5 75%,
    #E40026 75%
  );
}

.left-strip {
  position: fixed;
  top: 51.73%;
  left: -21.95%;
  transform: rotate(90deg);
  width: 49%;
  height: 3px;
  background-repeat: no-repeat;
  border-radius: 10px;
  z-index: 1;
  background: linear-gradient(to right,   
    #004FA0 25%,
    #49B8E7 25%,
    #49B8E7 50%,
    #F5EFB5 50%,
    #F5EFB5 75%,
    #E40026 75%
  );
}

.right-strip {
  position: fixed;
  top: 51.75%;
  left: 72.89%;
  transform: rotate(90deg);
  width: 49%;
  height: 3px;
  background-repeat: no-repeat;
  border-radius: 10px;
  z-index: 1;
  background: linear-gradient(to right,   
    #F5EFB5 25%,
    #49B8E7 25%,
    #49B8E7 50%,
    #0050A3 50%,
    #0050A3 75%,
    #39B195 75%
  );
}*/

.color-frame {
  position: fixed;
  z-index: -1;

  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -ms-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}

rect {
  stroke-opacity: 1;
  fill: none;
}

rect.stroke-navy {
  stroke: #0050A3;
}

rect.stroke-sky {
  stroke: #49B8E7;
}

rect.stroke-cream {
  stroke: #F5EFB5;
}

rect.stroke-red {
  stroke: #E40026;
}

rect.stroke-pink {
  stroke: #F6BCC5;
}

rect.stroke-orange {
  stroke: #F17C00;
}

rect.stroke-teal {
  stroke: #39B195;
}


/*//////////////////// ///////////////////////
	WAVE WAVE WAVE WAVE WAVE WAVE WAVE WAVE
//////////////////// ///////////////////////*/
.waves a svg {
	display: block;	
  position: absolute;	
	z-index: 100;

	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	-ms-transition: 1s ease;
	-o-transition: 1s ease;
	transition: 1s ease;
}

.waves02 {
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -ms-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.waves02 a svg {
  display: block;  
  position: absolute; 
  z-index: 100;

  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.waves svg .black, .waves02 svg .black {
	fill: #16161A;
	transform: translate(0, -40%);  
}

.waves svg .cream, .waves02 svg .cream {
  animation: movewave-cream 5s infinite alternate ease-in-out; 
  animation-delay: .7s; 
  opacity: .65;  
  transform: translate(-5%, 15%); 
}

.waves svg .red, .waves02 svg .red {
  animation: movewave 5s infinite alternate ease-in-out;  
  animation-delay: 1.2s;
  opacity: .65;  
}

.waves svg .sky, .waves02 svg .sky {
  animation: movewave 5s infinite alternate ease-in-out;  
  animation-delay: 2s;
  opacity: .65;
}

.waves svg .pink, .waves02 svg .pink {
  animation: movewave 5s infinite alternate ease-in-out;  
	animation-delay: 1s;
  opacity: .65;
}

.waves svg .teal, .waves02 svg .teal {
  animation: movewave-teal 5s infinite alternate ease-in-out;  
	animation-delay: .7s;
  opacity: .65;
  transform: translate(-5%, 0);
}

.waves svg .orange, .waves02 svg .orange {
  animation: movewave 5s infinite alternate ease-in-out; 
  opacity: .65; 
}

.waves svg .navy, .waves02 svg .navy {
  animation: movewave-navy 5s infinite alternate ease-in-out;  
  animation-delay: 1.5s;
  opacity: .65;
  transform: translate(5%, -20%);
}

@keyframes movewave {
  0%{
    transform: translate(0, 0);
  }
  50%{
    transform: translate(0, 20%);
  }
  100%{
    transform: translate(0, 0);
  }
}

@keyframes movewave-cream {
  0%{
    transform: translate(-5%, 15%);
  }
  50%{
    transform: translate(-5%, 0);
  }
  100%{
    transform: translate(-5%, 15%);
  }
}

@keyframes movewave-teal {
  0%{
    transform: translate(-5%, 0);
  }
  50%{
    transform: translate(-5%, 20%);
  }
  100%{
    transform: translate(-5% 0);
  }
}

@keyframes movewave-navy {
  0%{
    transform: translate(5%, -20%);
  }
  50%{
    transform: translate(5%, 5%);
  }
  100%{
    transform: translate(5%, -25%);
  }
}
