RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

<FilesMatch thekosuke.com/cocacola>
AuthUserFile /Users/KosuKe/GitHub/.htpasswd
AuthName "Authentication Required"
AuthType Basic
require valid-user
</FilesMatch>