RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

<Files cocacola.html>
AuthUserFile /.htpasswd
AuthName "Authentication Required"
AuthType Basic
require valid-user
</Files>