body {
    background: #16161A;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p, a {
    color: #404040;
    text-align: center;
    line-height: 2em;
    margin: 0;
}

p:hover, a:hover { color: white; }
