/*//////////////////// ///////////////////////
	HOME PAGE
//////////////////// ///////////////////////*/
.grid-0, .grid-1, .grid-2 {
	display: grid;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	grid-gap: 10px;
}
