@media all and (min-width: 320px) {
	.grid-0, .grid-1, .grid-2,
	.grid-3, .grid-4, .grid-5 {
			max-width: 320px;
			margin-left: 0;
			margin-right: 0;
		}

		.grid-0, { grid-template-columns: 1fr; }
		.grid-1 { grid-template-columns: .75fr 11fr .25fr; }
		.grid-2 { grid-template-columns: 3.5fr 8.25fr .25fr; }
		.grid-3 { grid-template-columns: 3fr 6fr 3fr; }
		.grid-4, .grid-5 { grid-template-columns: .5fr 11fr .5fr; }

		#container { margin-top: 1.5em; }
		#name, #footer, #projects, #experience, .wrapper {
			margin-bottom: 1.5em;
		}

	h1 {
			font-size: .7em;
			letter-spacing: -.1px;
		}

		h2 {
			font-size: .9em;
			letter-spacing: -.3px;
			margin-bottom: .3em;
		}

		h3 {
			font-size: 8px;
			letter-spacing: .2em;
		}

		.top h3 {
			padding-top: .35em;
		}

		.one-liner p {
			font-size: 1.2em;
			letter-spacing: -.2px;
			line-height: 1.3em;
		 }

		.connect a {
			font-size: .8em;
			letter-spacing: 0px;
		}

		.connect div {
			margin-bottom: .7em;
		}

  .dot {
  			height: 5px;
  		  width: 5px;
  		  border-radius: 50%;

  			-webkit-transition: .5s ease;
  	    -moz-transition: .5s ease;
  	    -o-transition: .5s ease;
  	    transition: .5s ease;
  		}

  		.dot1 {
  				left: -.6em;
  			}

  			.dot2 {
  				left: .6em;
  			}

  			.dot3 {
  				top: -.6em;
  			}

  			.dot4 {
  				top: .6em;
  			}

	#moreBar {
			bottom: 0;
			width: 100%;
			height: 3.5em;
		}

		#moreContent.active { bottom: 0; }

		.moreText {
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 85%;
		}

		.connect { margin-top: 3em; }

	/*//////////////////// ///////////////////////
	  PROJECT PAGE
	//////////////////// ///////////////////////*/
	#navBar {
		bottom: 0;
		height: 3.5em;
		border-top: 1px solid #16161A;
	}

		.arrow { width: 20%; margin-left: -10%; }

		#project-banner {
			height: 15em;
		}

	.project-name h3 {
			font-size: .7em;
			letter-spacing: .2em;
		}

		h4 {
			font-size: 1.8em;
			letter-spacing: -.7px;
			line-height: 1.65em;
		}

		.project-description {
			margin-top: 3em;
			margin-bottom: 2em;
		}

		.body-copy, .project-quote p {
			font-size: .95em;
			letter-spacing: 0px;
			line-height: 1.6em;
		}

	#footer {
			margin-top: 7em;
			margin-bottom: 7em;
		}

		.footer-wrapper {
			margin-bottom: 5em;
		}

		.site-link {
			font-size: 1.4em;
		}

		.footer-header {
			font-size: .9em;
			letter-spacing: -.3px;
			line-height: 2em;
		}

		.info { margin-bottom: 1.5em; }

		hr {
			margin-top: 0;
			margin-bottom: 1em;
		}

		li p {
			font-size: .9em;
			line-height: 1.7em;
		}

		.website p, .more-projects h4, .project-link { margin-bottom: 1em;}

}

@media all and (min-width: 375px) {
	.grid-0, .grid-1, .grid-2,
	.grid-3, .grid-4, .grid-5 {
			max-width: 375px;
		}

		.grid-1 { grid-template-columns: 1fr 10.5fr .5fr; }
		.grid-2 { grid-template-columns: 4fr 8fr 0fr; }

		.wrapper {
			margin-bottom: 1.75em;
		}

	h1 { font-size: .8em; }

		h2 {
			font-size: 1em;
			letter-spacing: -.4px;
			margin-bottom: .25em;
		}

		h3 {
			font-size: 9px;
			letter-spacing: .25em;
		}

		.top h3 {
			padding-top: .5em;
		}

		.one-liner p {
			font-size: 1.4em;
			letter-spacing: -.5px;
			line-height: 1.3em;
		}

		.connect a { font-size: .9em; }


	/*//////////////////// ///////////////////////
	  PROJECT PAGE
	//////////////////// ///////////////////////*/
		.project-name h3 { font-size: .8em; }

		h4 {
			font-size: 2em;
			letter-spacing: -.7px;
			line-height: 1.75em;
		}

		.body-copy, .project-quote p {
			font-size: 1em;
		}
}

@media all and (min-width: 400px) {
	.grid-0, .grid-1, .grid-2,
	.grid-3, .grid-4, .grid-5 {
			max-width: 400px;
		}

		#container { margin-top: 2em; }
		#name, #footer, #projects, #experience, .wrapper {
			margin-bottom: 2em;
		}

	h1 {
			font-size: .9em;
		}

		h2,  {
			font-size: 1.3em;
			letter-spacing: -.1px;
		}

		.one-liner p {
			font-size: 1.5em;
			line-height: 1.3em;
		}

		.connect a { font-size: 1em; }

	/*//////////////////// ///////////////////////
	  PROJECT PAGE
	//////////////////// ///////////////////////*/
	#project-banner {
			height: 17em;
		}

		.body-copy, .project-quote p {
			font-size: 1.1em;
			line-height: 1.7em;
		}

	.footer-header {
			font-size: 1em;
		}

		li p {
			font-size: 1em;
		}

		.more-projects { margin-bottom: 7em; }

		.site-link { line-height: 1.7em;}
}

@media all and (min-width: 480px) {
	.grid-0, .grid-1, .grid-2,
	.grid-3, .grid-4, .grid-5 {
			max-width: 480px;
		}

		.grid-1 { grid-template-columns: 2fr 9fr 1fr; }
		.grid-2 { grid-template-columns: 4fr 7fr 1fr; }

		#container { margin-top: 5em; }

	h1 { font-size: .8em; }

		h2,  {
			font-size: 1em;
			letter-spacing: -.5px;
		}

		.top h3 { padding-top: .5em; }

	.connect a:hover {
	    background-color: #FAFAFC;
	    color: #16161A;
	  }

	  h2 a:hover, a:hover {
	    transition: .3s ease-out;
	    cursor: url(../img/pointer.png) 7 7, pointer;
	  }

		#moreBar:hover {
      cursor: url(../img/pointer.png) 7 7, pointer;
      border-top: transparent;

      -webkit-transition: .5s ease;
      -moz-transition: .5s ease;
      -o-transition: .5s ease;
      transition: .5s ease;
    }

	/*//////////////////// ///////////////////////
	  PROJECT PAGE
	//////////////////// ///////////////////////*/
	#navBar {
			top: 0;
			border-top: none;
			/* border-bottom: 1px solid #16161A; */
			/* border-bottom: 1px solid #FAFAFC; */
		}

		.arrow {
			width: 15%;
			margin-left: -15%;
		}

		.project-name h3 {
			font-size: .7em;
			letter-spacing: .25em;
		}

		h4 {
			font-size: 1.8em;
			line-height: 2em;
		}
		.body-copy { font-size: 1em; }
		.site-link { font-size: 1.8em; }
		.more-projects { margin-bottom: 5em; }
		.more-projects h4 { margin-bottom: 1.5em; }
}

@media all and (min-width: 768px) {
	.grid-0, .grid-1, .grid-2,
	.grid-3, .grid-4, .grid-5 {
			max-width: 768px;
		}

		.grid-1 { grid-template-columns: 3fr 7fr 2fr; }
		.grid-2 { grid-template-columns: 4fr 7fr 1fr; }

	.moreText { width: 80%; }

	.arrow { width: 8%; left: 25%; margin-left: 0; }

}

@media all and (min-width: 960px) {
	.grid-0, .grid-1, .grid-2,
	.grid-3, .grid-4, .grid-5,
	.grid-6 {
			max-width: 960px;
		}

		.grid-1 { grid-template-columns: 4fr 6fr 2fr; }
		.grid-2 { grid-template-columns: 3.5fr 7.5fr 1fr; }
		.grid-4 { grid-template-columns: .5fr 10fr 1.5fr; }
		.grid-5 { grid-template-columns: .5fr 11fr .5fr; }
		.grid-6 { grid-template-columns: 4fr 4fr 4fr; grid-gap: 40px; }

	.moreText { width: 60%; }

	#project-banner { height: 20em; }
	.footer-header, li p { font-size: .9em; letter-spacing: 0px; }
}

@media all and (min-width: 1024px) {
	.grid-0, .grid-1, .grid-2,
	.grid-3, .grid-4, .grid-5,
	.grid-6 {
			max-width: 1024px;
		}

		.grid-4 { grid-template-columns: .5fr 9fr 2.5fr; }

	.moreText { width: 80%; }

		h3 { font-size: 9px; }

		.one-liner p {
			font-size: 2.5em;
			letter-spacing: -1.7px;
		}

	.project-description {
			margin-top: 5em;
			margin-bottom: 3em;
		}

	#footer { margin-bottom: 10em; }
		.arrow { width: 6%; }
		.site-link { font-size: 2.2em; letter-spacing: -1.5px; }

}

@media all and (min-width: 1280px) {
	.grid-0, .grid-1, .grid-2,
	.grid-3, .grid-4, .grid-5,
	.grid-6 {
			max-width: 1280px;
		}

		.grid-1 { grid-template-columns: 4.5fr 5.5fr 2fr; }
		.grid-2 { grid-template-columns: 2.5fr 8.5fr 1fr; }
		.grid-6 { grid-template-columns: 3.5fr 3.5fr 5fr; }

		.arrow { width: 4%; left: 20%; }
}

@media all and (min-width: 1366px) {
	.grid-0, .grid-1, .grid-2,
	.grid-3, .grid-4, .grid-5,
	.grid-6 {
			max-width: 1366px;
		}

		.grid-1 { grid-template-columns: 4.75fr 5.25fr 2fr; }
		.grid-4 { grid-template-columns: .5fr 7fr 4.5fr; }

	.moreText { width: 68%; }
}

@media all and (min-width: 1440px) {
	.grid-0, .grid-1, .grid-2,
	.grid-3, .grid-4, .grid-5,
	.grid-6 {
			max-width: 1440px;
		}

		.grid-1 { grid-template-columns: 4.6fr 5.4fr 2fr; }

		#container { margin-top: 5.5em; }

		.top h3 { padding-top: .55em; }

	.moreText { width: 67%; }

	#project-banner { height: 22em; }
}

@media all and (min-width: 1680px) {
	.grid-0, .grid-1, .grid-2,
	.grid-3, .grid-4, .grid-5,
	.grid-6 {
			max-width: 1680px;
		}

		#container { margin-top: 7em; }

	.moreText { width: 56%; }
}

@media all and (min-width: 1920px) {
	.grid-0, .grid-1, .grid-2,
	.grid-3, .grid-4, .grid-5,
	.grid-6 {
		max-width: 1920px;
	}
}

@media all and (min-width: 2560px) {
	.grid-0, .grid-1, .grid-2,
	.grid-3, .grid-4, .grid-5,
	.grid-6 {
		max-width: 2560px;
	}
}
