body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,a,blockquote,th,td {
    padding: 0;
    margin: 0;
  }

  ::-webkit-scrollbar { display: none; }
  ::selection { color: #F2314E; }
  ::-moz-selection { color: #F2314E; }

  body {
    /* background-image: radial-gradient(#292C34, #16161A); */
    background-image: radial-gradient(#F0F0F2, #FAFAFC);
    overflow-x: hidden;
  }

  #container {
    position: relative;
    z-index: 1;

    animation: land 2s;
    animation-delay: 2s;

    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
  }

/*//////////////////// ///////////////////////
	TYPESETTING
//////////////////// ///////////////////////*/
h1, h2, h3, h4, p, a {
    color: #16161A;
    /* color: #FAFAFC; */
    font-weight: normal;
    text-decoration: none;

    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
  }

  h1 {
    font-family: "Favorit-BoldXt";
    text-transform: lowercase;
  }

  h2, a { font-family: "Favorit-Lining-Medium"; }

  h3, .one-liner p { font-family: "Favorit-Medium"; }

  h4 {
    font-family: "Favorit-MediumXt";
    text-transform: uppercase;
    /* color: #A4A4A6; */
    color: #7E7E80;
  }

  h4 span { text-transform: lowercase; }

  .one-liner p, .connect a { color: #FAFAFC; }


/*//////////////////// ///////////////////////
	PROJECT BACKGROUNDS
//////////////////// ///////////////////////*/
.coke-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    transform-origin: center;
    background: radial-gradient(#F21919, #FF6868);
    z-index: 0;
    opacity: 0;

    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
  }

  .tp-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    transform-origin: center;
    background: radial-gradient(circle at 0% 0%, #CC0A21, #2B65D9, #FFF44F);
    z-index: 0;
    opacity: 0;

    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
  }

  .italia-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    transform-origin: center;
    background: radial-gradient(#0D0D0D, #404040);
    z-index: 0;
    opacity: 0;

    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
  }


/*//////////////////////////////////////
  MORE OVERLAY
//////////////////////////////////////*/
#overlay {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 6;
    background: #FAFAFC;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .7s ease;
  }

  #overlay.active {
    visibility: visible;
    opacity: 0;
  }


/*//////////////////////////////////////
  MORE BAR
//////////////////////////////////////*/
  #moreBar {
      position: fixed;
      background: transparent;
      border-top: 1px solid #16161A;
    	text-align: center;
    	z-index: 100;
      cursor: pointer;

      animation: rise 2s;
      animation-delay: 2s;

      -webkit-transition: .7s ease;
    	-moz-transition: .7s ease;
    	-o-transition: .7s ease;
    	transition: .7s ease;
    }

    @keyframes rise {
        0% { transform: translateY(100%); }
        75% { transform: translateY(100%); }
        100% { transform: translateY(0); }
      }
      @-webkit-keyframes rise {
          0% { transform: translateY(100%); }
          75% { transform: translateY(100%); }
          100% { transform: translateY(0); }
        }
      @-moz-keyframes rise {
          0% { transform: translateY(100%); }
          75% { transform: translateY(100%); }
          100% { transform: translateY(0); }
        }
      @-ms-keyframes rise {
          0% { transform: translateY(100%); }
          75% { transform: translateY(100%); }
          100% { transform: translateY(0); }
        }
      @-o-keyframes rise {
          0% { transform: translateY(100%); }
          75% { transform: translateY(100%); }
          100% { transform: translateY(0); }
        }

    #moreBar.active {
      background: transparent;
      border-top: transparent;

      -webkit-transition: .3s ease;
      -moz-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease;
    }

  #moreBar .button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center center;

      -webkit-transition: .5s ease;
      -moz-transition: .5s ease;
      -o-transition: .5s ease;
      transition: .5s ease;
    }

    #moreBar .button.active {
      transform: translate(-50%, -50%) rotate(-225deg);
      -webkit-transform: translate(-50%, -50%) rotate(-225deg);
      -ms-transform: translate(-50%, -50%) rotate(-225deg);
    }

  .dot {
        /* background: #FAFAFC; */
        background: #16161A;
      }

      .dot1, .dot2, .dot3, .dot4 {
          position: absolute;
      }

      .dot1.active {
        background: #FAFAFC;
          -webkit-animation: dot1 1s ease;
             -moz-animation: dot1 1s ease;
              -ms-animation: dot1 1s ease;
               -o-animation: dot1 1s ease;
                  animation: dot1 1s ease;
        }

        .dot2.active {
          background: #FAFAFC;
          -webkit-animation: dot2 1s ease;
             -moz-animation: dot2 1s ease;
              -ms-animation: dot2 1s ease;
               -o-animation: dot2 1s ease;
                  animation: dot2 1s ease;
        }

        .dot3.active {
          background: #FAFAFC;
          -webkit-animation: dot3 1s ease;
             -moz-animation: dot3 1s ease;
              -ms-animation: dot3 1s ease;
               -o-animation: dot3 1s ease;
                  animation: dot3 1s ease;
        }

        .dot4.active {
          background: #FAFAFC;
          -webkit-animation: dot4 1s ease;
             -moz-animation: dot4 1s ease;
              -ms-animation: dot4 1s ease;
               -o-animation: dot4 1s ease;
                  animation: dot4 1s ease;
        }

        .dot5.active {
          background: #FAFAFC;
        }


/*//////////////////////////////////////
  MORE CONTENT
//////////////////////////////////////*/
  #moreContent {
      position: fixed;
      bottom: -100%;
			width: 100%;
			height: 100%;
      text-align: left;
      background-image: url(../img/panton.svg);
      background-position: center;
      background-size: cover;
    	z-index: 99;
    	outline: none;

    	-webkit-transition: 1s ease;
    	-moz-transition: 1s ease;
    	-o-transition: 1s ease;
    	transition: 1s ease;
    }


/*//////////////////////////////////////
  LANDING ANIMATION
//////////////////////////////////////*/
  #loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  #curtain {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .loading {
      animation: fall 4s infinite;
  }

  /* .loading {
    position: relative;
    top: 50%;
    left: 50%;
    width: 5em;
    height: 5em;
    background: radial-gradient(#FAFAFC, transparent);
    border-radius: 50%;
    transform-origin: center;

    animation: beat 1s 3;

    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
  } */

  @keyframes fall {
      0% { transform: translateY(0); }
      100% { transform: translateY(-100%); }
    }
    @-webkit-keyframes fall {
      0% { transform: translateY(0); }
      100% { transform: translateY(-100%); }
    }
    @-moz-keyframes fall {
      0% { transform: translateY(0); }
      100% { transform: translateY(-100%); }
    }
    @-ms-keyframes fall {
      0% { transform: translateY(0); }
      100% { transform: translateY(-100%); }
      }
    @-o-keyframes fall {
      0% { transform: translateY(0); }
      100% { transform: translateY(-100%); }
    }

  @keyframes beat {
      0% {
        transform: translate(-50%, -50%);
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
      }
      14% {
        -webkit-transform: scale(1.3);
           -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
             -o-transform: scale(1.3);
                transform: scale(1.3);
      }
      28% {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
      }
      42% {
        -webkit-transform: scale(1.3);
           -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
             -o-transform: scale(1.3);
                transform: scale(1.3);
      }
      70% {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
      }
    }
    @-webkit-keyframes beat {
      0% {
        transform: translate(-50%, -50%);
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
      }
      14% {
        -webkit-transform: scale(1.3);
           -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
             -o-transform: scale(1.3);
                transform: scale(1.3);
      }
      28% {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
      }
      42% {
        -webkit-transform: scale(1.3);
           -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
             -o-transform: scale(1.3);
                transform: scale(1.3);
      }
      70% {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
      }
    }
    @-moz-keyframes beat {
      0% {
        transform: translate(-50%, -50%);
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
      }
      14% {
        -webkit-transform: scale(1.3);
           -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
             -o-transform: scale(1.3);
                transform: scale(1.3);
      }
      28% {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
      }
      42% {
        -webkit-transform: scale(1.3);
           -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
             -o-transform: scale(1.3);
                transform: scale(1.3);
      }
      70% {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
      }
    }
    @-ms-keyframes beat {
      0% {
        transform: translate(-50%, -50%);
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
      }
      14% {
        -webkit-transform: scale(1.3);
           -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
             -o-transform: scale(1.3);
                transform: scale(1.3);
      }
      28% {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
      }
      42% {
        -webkit-transform: scale(1.3);
           -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
             -o-transform: scale(1.3);
                transform: scale(1.3);
      }
      70% {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
      }
      }
    @-o-keyframes beat {
      0% {
        transform: translate(-50%, -50%);
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
      }
      14% {
        -webkit-transform: scale(1.3);
           -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
             -o-transform: scale(1.3);
                transform: scale(1.3);
      }
      28% {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
      }
      42% {
        -webkit-transform: scale(1.3);
           -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
             -o-transform: scale(1.3);
                transform: scale(1.3);
      }
      70% {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
            -ms-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
      }
    }

  @keyframes land {
      0% { opacity: 0; }
      75% {
        opacity: 0;
        transform: scale(3);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
    @-webkit-keyframes land {
        0% { opacity: 0; }
        75% {
          opacity: 0;
          transform: scale(3);
        }
        100% {
          opacity: 1;
          transform: scale(1);
        }
      }
    @-moz-keyframes land {
        0% { opacity: 0; }
        75% {
          opacity: 0;
          transform: scale(3);
        }
        100% {
          opacity: 1;
          transform: scale(1);
        }
      }
    @-ms-keyframes land {
        0% { opacity: 0; }
        75% {
          opacity: 0;
          transform: scale(3);
        }
        100% {
          opacity: 1;
          transform: scale(1);
        }
      }
    @-o-keyframes land {
          0% { opacity: 0; }
          75% {
            opacity: 0;
            transform: scale(3);
          }
          100% {
            opacity: 1;
            transform: scale(1);
          }
        }
