body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  ::selection {
    background-color: #FFB700; /* WebKit/Blink Browsers */
  }

  ::-moz-selection {
    background: #FFB700; /* Gecko Browsers */
  }

  body {
    background-color: #16161A;
    overflow-x: hidden;
  }

/*//////////////////// ///////////////////////
	TYPESETTING
//////////////////// ///////////////////////*/
h1, h2, h3, h4, p, a {
    color: #FAFAFC;
    text-decoration: none;
  }

  h1, h2 {
    font-family: "Favorit-MediumXt";
    text-transform: lowercase;
  }

  h3, .link {
    font-family: "Favorit-Lining-Regular";
  }

  h4 {
    font-family: "Favorit-Regular";
  }

  h5 {
    font-family: "Favorit-RegularXt";
    text-transform: uppercase;
    color: #A5A5A6;
  }

  h5 span{
    text-transform: lowercase;
  }

  .oneLiner {
    font-family: "Favorit-Medium";
  }

  .quote {
    font-family: "Favorit-Light";
  }

/*//////////////////////////////////////
  MORE TRIGGER
//////////////////////////////////////*/
#moreTrigger {
    position: fixed;
    width: 2.75em;
    height: 2.75em;
    background: transparent;
  	z-index: 100;
    cursor: pointer;
  }

  #moreTrigger .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;

    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
  }

  #moreTrigger .button.active {
    transform: translate(-50%, -50%) rotate(-225deg);
    -webkit-transform: translate(-50%, -50%) rotate(-225deg);
    -ms-transform: translate(-50%, -50%) rotate(-225deg);
  }

.dot {
      background: #FAFAFC;
    }

    .dot1, .dot2, .dot3, .dot4 {
        position: absolute;
    }

    .dot1.active {
        -webkit-animation: dot1 1s ease;
           -moz-animation: dot1 1s ease;
            -ms-animation: dot1 1s ease;
             -o-animation: dot1 1s ease;
                animation: dot1 1s ease;
      }

      .dot2.active {
        -webkit-animation: dot2 1s ease;
           -moz-animation: dot2 1s ease;
            -ms-animation: dot2 1s ease;
             -o-animation: dot2 1s ease;
                animation: dot2 1s ease;
      }

      .dot3.active {
        -webkit-animation: dot3 1s ease;
           -moz-animation: dot3 1s ease;
            -ms-animation: dot3 1s ease;
             -o-animation: dot3 1s ease;
                animation: dot3 1s ease;
      }

      .dot4.active {
        -webkit-animation: dot4 1s ease;
           -moz-animation: dot4 1s ease;
            -ms-animation: dot4 1s ease;
             -o-animation: dot4 1s ease;
                animation: dot4 1s ease;
      }

/*//////////////////////////////////////
  MORE CONTENT
//////////////////////////////////////*/
#backDrop {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 6;
    background: #16161A;
    visibility: hidden;
    opacity: 0;

    -webkit-transition: .5s ease;
  	-moz-transition: .5s ease;
  	-o-transition: .5s ease;
  	transition: .5s ease;
  }

  #backDrop.active {
      visibility: visible;
      opacity: .8;
  }

#overlay {
    position: fixed;
    /* width: 2.5em;
    height: 2.5em; */
    width: 0;
    height: 0;
    opacity: 0;
    background: #16161A;
    border-color: #16161A;
    z-index: 99;

    -webkit-transition: .5s ease;
  	-moz-transition: .5s ease;
  	-o-transition: .5s ease;
  	transition: .5s ease;
  }

  #overlay.active {
    width: 89vw;
    height: 93.5vh;
    opacity: .9;
    border-color: #FAFAFC;
    border-style: solid;
    border-width: 1.5px;

    transition: border-color 0s ease 0s, height .5s ease, width 0.5s ease .5s;
    -webkit-transition: border-color 0s ease 0s, height .5s ease, width 0.5s ease .5s;
  }

  .more {
    width: 90%;
    margin: auto;
    opacity: 0;
    transform: translateX(-.5em);

    -webkit-transition: .7s ease;
  	-moz-transition: .7s ease;
  	-o-transition: .7s ease;
  	transition: .7s ease;

    -webkit-transition-delay: 1s;
  	-moz-transition-delay: 1s;
  	-o-transition-delay: 1s;
  	transition-delay: 1s;
  }

  .more.active {
    opacity: 1;
    transform: translateX(0);
  }
